# Smartfin Website Scrape
Smartfin ride data can be accessed through the Smartfin website through ride ids. Each Smartfin session has a unique ride id that we use to access the data of that session. The data to be accessed are the motion data and ocean data

Motion Data is data collected by the Smartfin's IMU sensors and take measurements of acceleration, rotation, and orientaion, each in the x, y, and z axis respectively.

Ocean Data records things like temperature, salinity, and pH, although the current generation of Smartfin only records temperature

The code in this notebook is used to add new smartfin session data to the Ride API database, so you won't actually have to web scrape any data manually for this project unless you just want to play around with the code.

In [15]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt

plt.rc("font", size=14) 

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

#from mpl_toolkits.basemap import Basemap


import os
import datetime
import pytz
import re

import peakutils
import statsmodels.api as sm

import requests


ride_ids = ['15692']


#%% Fin ID scraper
# Input fin ID, get all ride IDs
# base URL to which we'll append given fin IDs
# fin_url_base = 'http://surf.smartfin.org/fin/'

# Look for the following text in the HTML contents in fcn below
# str_id_ride = 'rideId = \'' # backslash allows us to look for single quote
# str_id_date = 'var date = \'' # backslash allows us to look for single quote

#%% Ride ID scraper


# Input ride ID, get ocean and motion CSVs
# Base URL to which we'll append given ride IDs
ride_url_base = 'https://surf.smartfin.org/ride/'

# Look for the following text in the HTML contents in fcn below to get csv id 
str_id_csv = 'img id="temperatureChart" class="chart" src="' 


def get_csv_from_ride_id(rid):
    
# step 1    
    # Build URL for each individual ride
    ride_url = ride_url_base+str(rid)
    print("ride_url: " + ride_url)
    
# step 2
    # query smartfin website to retrieve the ride's webpage in HTML  
    html_contents = requests.get(ride_url).text
#     print("html contents: ", html_contents)
    
    # Find CSV file location id in html page by csv file tag
    loc_csv_id = html_contents.find(str_id_csv)
#     print("loc_csv_id: ", loc_csv_id)
    
# step 3
    # log into smartfin website to get request authentication
    # Different based on whether user logged in with FB or Google
    offset_googleOAuth = [46, 114]
    offset_facebkOAuth = [46, 112]
    if html_contents[loc_csv_id+59] == 'f': # Facebook login
        off0 = offset_facebkOAuth[0]
        off1 = offset_facebkOAuth[1]
    else: # Google login
        off0 = offset_googleOAuth[0]
        off1 = offset_googleOAuth[1]

# step 4
    # use csv id and authentication offsets to build query string
    csv_id_longstr = html_contents[loc_csv_id+off0:loc_csv_id+off1]
#     print("csv_id_longstr: ", csv_id_longstr)
    
    # Stitch together full URL for CSV
    if ("media" in csv_id_longstr) & ("Calibration" not in html_contents): # other junk URLs can exist and break everything

# step 5
        # full urls to get csv file       
        ocean_csv_url = f'https://surf.smartfin.org/{csv_id_longstr}Ocean.CSV'
        motion_csv_url = f'https://surf.smartfin.org/{csv_id_longstr}Motion.CSV'
        
        print("ocean_csv_url: ", ocean_csv_url)
        print("motion_csv_url: ", motion_csv_url)
        print('\n\n')

# step 6
        # Go to ocean_csv_url and grab contents (theoretically, a CSV)
        ocean_df_small = pd.read_csv(ocean_csv_url, parse_dates = [0])
        motion_df_small = pd.read_csv(motion_csv_url, parse_dates = [0])


# step 7
        # 7a. add elasped column to show how much time has elapsed since first reading
        elapsed_timedelta = (ocean_df_small['UTC']-ocean_df_small['UTC'][0])
        ocean_df_small['elapsed'] = elapsed_timedelta/np.timedelta64(1, 's')
        
        print("motion_df_small raw: ", motion_df_small)
        print('\n\n')
        print("ocean_df_small raw: ", ocean_df_small)
        print('\n\n')


        
        # 7b. make the index of each df the timestamp
        if len(ocean_df_small) > 1:
            ocean_df_small.set_index('UTC', drop = True, append = False, inplace = True)
            motion_df_small.set_index('UTC', drop = True, append = False, inplace = True)
            
            print("ocean_df_small length pre upsample: ", len(ocean_df_small))
            print("motion_df_small length pre upsample: ", len(motion_df_small))
            
            # 7c. resample data to 33ms intervals (30 Hz)
            #May need to change this sampling interval:
            sample_interval = '1000ms'
                        
            ocean_df_small_resample = ocean_df_small.resample(sample_interval).mean()
            motion_df_small_resample = motion_df_small.resample(sample_interval).mean()
    
            
            print('ocean_df_resample length: ', len(ocean_df_small_resample))
            print('motion_df_resample length: ', len(motion_df_small_resample))
            print('\n\n')
            
            # returns all rows that have values in latitude column           
            # No need to save many extra rows with no fix
            # motion_df_small = motion_df_small[~np.isnan(motion_df_small.Latitude)]
            
            return ocean_df_small_resample, motion_df_small_resample

    # if dataframe is empty, just return empty dataframe    
    else:
        ocean_df_small_resample = pd.DataFrame() # empty DF just so something is returned
        motion_df_small_resample = pd.DataFrame() 
        return ocean_df_small_resample, motion_df_small_resample
    
    
    
    
    
# actual script

appended_ocean_list = [] # list of DataFrames from original CSVs
appended_motion_list = []
appended_multiIndex = [] # fin_id & ride_id used to identify each DataFrame

## Nested loops (for each fin ID, find all ride IDs, then build a DataFrame from all ride CSVs)
## (Here, ride IDS are either ocean or motion dataframes)
count_good_fins = 0      # number of dataframes with non empty data
    
# Loop over ride_ids and find CSVs
for rid in ride_ids:
    print("rid: ", rid)
    try:
        # runs code from function defined above
        new_ocean_df, new_motion_df = get_csv_from_ride_id(rid) # get given ride's CSV from its ride ID using function above
        
        # for each non empty df, append to list of already created dataframes        
        if not new_ocean_df.empty: # Calibration rides, for example
            
            # Append only if DF isn't empty. There may be a better way to control empty DFs which are created above
            appended_multiIndex.append(str(rid)) # build list to be multiIndex of future DataFrame
            appended_ocean_list.append(new_ocean_df)
            appended_motion_list.append(new_motion_df)
            
            count_good_fins += 1
        
    except: 
        print("Ride threw an exception!")
        #print("Ride ", rid, "threw an exception!")    

#%% Build the "Master" DataFrame
# keys for each diferent dataframe in the big dataframes
df_keys = tuple(appended_multiIndex) # keys gotta be a tuple, a list which data in it cannot be changed

# concatinate all dataframes in each list into one big dataframe
ocean_df = pd.concat(appended_ocean_list, keys = df_keys, names=['ride_id'])
motion_df = pd.concat(appended_motion_list, keys = df_keys, names = ['ride_id'])


##Here, maybe just use info from the motion_df and don't worry about ocean_df data for now.
##If you do want ocean_df data, look at how Phil was getting it from "July 10th and 11th Calibration" jupyter notebook file.
#We can also check to see if the surfboard was recording "in-water-freq" or 
#"out-of-water-freq" based on how many NaN values we see. 



# 7d. clear na values from dataframes
#Drop the latitude and longitude values since most of them are Nan:
print('motion df length pre na drop: ', len(motion_df))
motion_df_dropped = motion_df.drop(columns=['Latitude', 'Longitude'])

#Drop the NAN values from the motion data:
motion_df_dropped = motion_df_dropped.dropna(axis=0, how='any')
print('motion_df_dropped length post na drop: ', len(motion_df_dropped))
print('\n\n')

# finished clean dataframes
print('motion_df_dropped: ', motion_df_dropped)
print('ocean_df: ', ocean_df)
motion_df.head(10)

rid:  15692
ride_url: https://surf.smartfin.org/ride/15692
ocean_csv_url:  https://surf.smartfin.org/media/201811/google_105349665704999793400_0006667E229D_181109191556_Ocean.CSV
motion_csv_url:  https://surf.smartfin.org/media/201811/google_105349665704999793400_0006667E229D_181109191556_Motion.CSV



motion_df_small raw:                                     UTC        Time  IMU A1  IMU A2  IMU A3  \
0     2018-11-09 19:16:03.806000+00:00  1414742884     NaN     NaN     NaN
1     2018-11-09 19:16:03.809000+00:00  1414742887   493.0    48.0   110.0
2     2018-11-09 19:16:04.061000+00:00  1414743138   513.0    89.0    62.0
3     2018-11-09 19:16:04.312000+00:00  1414743387   494.0    92.0    80.0
4     2018-11-09 19:16:04.565000+00:00  1414743639   421.0   205.0  -104.0
...                                ...         ...     ...     ...     ...
22552 2018-11-09 20:38:14.334000+00:00  1419643689   501.0   -11.0    99.0
22553 2018-11-09 20:38:14.500000+00:00  1419643854     NaN     NaN     NaN
22554 2018-11-09 20:38:14.587000+00:00  1419643940   502.0   -11.0    99.0
22555 2018-11-09 20:38:14.839000+00:00  1419644191   501.0   -13.0    99.0
22556 2018-11-09 20:38:15.093000+00:00  1419644443   501.0   -11.0    98.0

       IMU G1  IMU G2  IMU G3  IMU M1  IMU M2  IMU M3   Latitude   Longitude
0         NaN     NaN     NaN     NaN     NaN     NaN  3285871.0 -11725690.0
1        75.0  -124.0   -86.0  -309.0   209.0    39.0        NaN         NaN
2        34.0   -36.0   -92.0  -320.0   194.0    38.0        NaN         NaN
3        69.0   -63.0   -42.0  -329.0   189.0    49.0        NaN         NaN
4       192.0   -92.0   -37.0  -330.0   180.0    64.0        NaN         NaN
...       ...     ...     ...     ...     ...     ...        ...         ...
22552     9.0    20.0     2.0  -303.0   267.0    37.0        NaN         NaN
22553     NaN     NaN     NaN     NaN     NaN     NaN  3287082.0 -11722116.0
22554    10.0    21.0     1.0  -308.0   262.0    32.0        NaN         NaN
22555    10.0    21.0     1.0  -310.0   260.0    38.0        NaN         NaN
22556    10.0    20.0     2.0  -309.0   265.0    35.0        NaN         NaN

[22557 rows x 13 columns]



ocean_df_small raw:                                   UTC        Time  Temperature 1  \
0   2018-11-09 19:16:03.362000+00:00  1414742443            375
1   2018-11-09 19:16:09.419000+00:00  1414748463            377
2   2018-11-09 19:16:15.475000+00:00  1414754483            375
3   2018-11-09 19:16:21.533000+00:00  1414760504            374
4   2018-11-09 19:16:27.591000+00:00  1414766526            369
..                               ...         ...            ...
810 2018-11-09 20:37:49.208000+00:00  1419618714            450
811 2018-11-09 20:37:55.263000+00:00  1419624733            449
812 2018-11-09 20:38:01.320000+00:00  1419630753            448
813 2018-11-09 20:38:07.376000+00:00  1419636773            447
814 2018-11-09 20:38:13.433000+00:00  1419642793            446

     Calibrated Temperature 1  Temperature 1 Stable  Temperature 2  \
0                      23.438                 False           5207
1                      23.562                 False           5239
2                      23.438                 False           5250
3                      23.375                 False           5250
4                      23.062                 False           5111
..                        ...                   ...            ...
810                    28.125                 False           6662
811                    28.062                 False           6635
812                    28.000                 False           6608
813                    27.938                 False           6587
814                    27.875                 False           6560

     Calibrated Temperature 2  Temperature 2 Stable  salinity  \
0                      20.512                 False       NaN
1                      20.637                 False       NaN
2                      20.680                 False       NaN
3                      20.680                 False       NaN
4                      20.135                 False       NaN
..                        ...                   ...       ...
810                    26.217                 False       NaN
811                    26.111                 False       NaN
812                    26.005                 False       NaN
813                    25.923                 False       NaN
814                    25.817                 False       NaN

     Calibrated Salinity  Salinity Stable  pH  Calibrated pH  pH Stable  \
0                    NaN              NaN NaN            NaN        NaN
1                    NaN              NaN NaN            NaN        NaN
2                    NaN              NaN NaN            NaN        NaN
3                    NaN              NaN NaN            NaN        NaN
4                    NaN              NaN NaN            NaN        NaN
..                   ...              ...  ..            ...        ...
810                  NaN              NaN NaN            NaN        NaN
811                  NaN              NaN NaN            NaN        NaN
812                  NaN              NaN NaN            NaN        NaN
813                  NaN              NaN NaN            NaN        NaN
814                  NaN              NaN NaN            NaN        NaN

      elapsed
0       0.000
1       6.057
2      12.113
3      18.171
4      24.229
..        ...
810  4905.846
811  4911.901
812  4917.958
813  4924.014
814  4930.071

[815 rows x 15 columns]



ocean_df_small length pre upsample:  815
motion_df_small length pre upsample:  22557
ocean_df_resample length:  4931
motion_df_resample length:  4933



motion df length pre na drop:  4933
motion_df_dropped length post na drop:  4933



motion_df_dropped:                                             Time  IMU A1  IMU A2  IMU A3  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00  1.414743e+09  493.00   48.00  110.00
        2018-11-09 19:16:04+00:00  1.414744e+09  490.50  173.00    1.50
        2018-11-09 19:16:05+00:00  1.414745e+09  317.75  331.00 -224.75
        2018-11-09 19:16:06+00:00  1.414746e+09   42.00  382.50 -172.00
        2018-11-09 19:16:07+00:00  1.414747e+09  -46.00  426.00 -249.00
...                                         ...     ...     ...     ...
        2018-11-09 20:38:11+00:00  1.419641e+09  499.25   -1.75  105.25
        2018-11-09 20:38:12+00:00  1.419642e+09  501.00   -8.50  101.25
        2018-11-09 20:38:13+00:00  1.419643e+09  501.50  -11.25   99.00
        2018-11-09 20:38:14+00:00  1.419644e+09  501.25  -11.50   99.00
        2018-11-09 20:38:15+00:00  1.419644e+09  501.00  -11.00   98.00

                                   IMU G1  IMU G2  IMU G3  IMU M1  IMU M2  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00   75.00 -124.00  -86.00 -309.00  209.00
        2018-11-09 19:16:04+00:00  -31.50 -106.00 -100.00 -326.00  181.00
        2018-11-09 19:16:05+00:00 -112.75 -552.00 -330.00 -261.25   28.25
        2018-11-09 19:16:06+00:00  -45.75 -299.50  202.50  -50.25  -49.25
        2018-11-09 19:16:07+00:00   13.25  -42.50   19.75    1.75  -82.75
...                                   ...     ...     ...     ...     ...
        2018-11-09 20:38:11+00:00    4.00   20.00   -0.75 -289.00  229.50
        2018-11-09 20:38:12+00:00  -37.00   18.00   -5.25 -303.25  262.25
        2018-11-09 20:38:13+00:00   10.25   20.75    1.00 -300.50  262.50
        2018-11-09 20:38:14+00:00    9.50   20.75    1.50 -303.50  262.00
        2018-11-09 20:38:15+00:00   10.00   20.00    2.00 -309.00  265.00

                                   IMU M3
ride_id UTC
15692   2018-11-09 19:16:03+00:00   39.00
        2018-11-09 19:16:04+00:00   62.00
        2018-11-09 19:16:05+00:00  240.25
        2018-11-09 19:16:06+00:00  314.25
        2018-11-09 19:16:07+00:00  287.75
...                                   ...
        2018-11-09 20:38:11+00:00    3.50
        2018-11-09 20:38:12+00:00   24.75
        2018-11-09 20:38:13+00:00   33.50
        2018-11-09 20:38:14+00:00   37.00
        2018-11-09 20:38:15+00:00   35.00

[4933 rows x 10 columns]
ocean_df:                                             Time  Temperature 1  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00  1.414742e+09          375.0
        2018-11-09 19:16:04+00:00           NaN            NaN
        2018-11-09 19:16:05+00:00           NaN            NaN
        2018-11-09 19:16:06+00:00           NaN            NaN
        2018-11-09 19:16:07+00:00           NaN            NaN
...                                         ...            ...
        2018-11-09 20:38:09+00:00           NaN            NaN
        2018-11-09 20:38:10+00:00           NaN            NaN
        2018-11-09 20:38:11+00:00           NaN            NaN
        2018-11-09 20:38:12+00:00           NaN            NaN
        2018-11-09 20:38:13+00:00  1.419643e+09          446.0

                                   Calibrated Temperature 1  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00                    23.438
        2018-11-09 19:16:04+00:00                       NaN
        2018-11-09 19:16:05+00:00                       NaN
        2018-11-09 19:16:06+00:00                       NaN
        2018-11-09 19:16:07+00:00                       NaN
...                                                     ...
        2018-11-09 20:38:09+00:00                       NaN
        2018-11-09 20:38:10+00:00                       NaN
        2018-11-09 20:38:11+00:00                       NaN
        2018-11-09 20:38:12+00:00                       NaN
        2018-11-09 20:38:13+00:00                    27.875

                                   Temperature 1 Stable  Temperature 2  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00                   0.0         5207.0
        2018-11-09 19:16:04+00:00                   NaN            NaN
        2018-11-09 19:16:05+00:00                   NaN            NaN
        2018-11-09 19:16:06+00:00                   NaN            NaN
        2018-11-09 19:16:07+00:00                   NaN            NaN
...                                                 ...            ...
        2018-11-09 20:38:09+00:00                   NaN            NaN
        2018-11-09 20:38:10+00:00                   NaN            NaN
        2018-11-09 20:38:11+00:00                   NaN            NaN
        2018-11-09 20:38:12+00:00                   NaN            NaN
        2018-11-09 20:38:13+00:00                   0.0         6560.0

                                   Calibrated Temperature 2  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00                    20.512
        2018-11-09 19:16:04+00:00                       NaN
        2018-11-09 19:16:05+00:00                       NaN
        2018-11-09 19:16:06+00:00                       NaN
        2018-11-09 19:16:07+00:00                       NaN
...                                                     ...
        2018-11-09 20:38:09+00:00                       NaN
        2018-11-09 20:38:10+00:00                       NaN
        2018-11-09 20:38:11+00:00                       NaN
        2018-11-09 20:38:12+00:00                       NaN
        2018-11-09 20:38:13+00:00                    25.817

                                   Temperature 2 Stable  salinity  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00                   0.0       NaN
        2018-11-09 19:16:04+00:00                   NaN       NaN
        2018-11-09 19:16:05+00:00                   NaN       NaN
        2018-11-09 19:16:06+00:00                   NaN       NaN
        2018-11-09 19:16:07+00:00                   NaN       NaN
...                                                 ...       ...
        2018-11-09 20:38:09+00:00                   NaN       NaN
        2018-11-09 20:38:10+00:00                   NaN       NaN
        2018-11-09 20:38:11+00:00                   NaN       NaN
        2018-11-09 20:38:12+00:00                   NaN       NaN
        2018-11-09 20:38:13+00:00                   0.0       NaN

                                   Calibrated Salinity  Salinity Stable  pH  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00                  NaN              NaN NaN
        2018-11-09 19:16:04+00:00                  NaN              NaN NaN
        2018-11-09 19:16:05+00:00                  NaN              NaN NaN
        2018-11-09 19:16:06+00:00                  NaN              NaN NaN
        2018-11-09 19:16:07+00:00                  NaN              NaN NaN
...                                                ...              ...  ..
        2018-11-09 20:38:09+00:00                  NaN              NaN NaN
        2018-11-09 20:38:10+00:00                  NaN              NaN NaN
        2018-11-09 20:38:11+00:00                  NaN              NaN NaN
        2018-11-09 20:38:12+00:00                  NaN              NaN NaN
        2018-11-09 20:38:13+00:00                  NaN              NaN NaN

                                   Calibrated pH  pH Stable   elapsed
ride_id UTC
15692   2018-11-09 19:16:03+00:00            NaN        NaN     0.000
        2018-11-09 19:16:04+00:00            NaN        NaN       NaN
        2018-11-09 19:16:05+00:00            NaN        NaN       NaN
        2018-11-09 19:16:06+00:00            NaN        NaN       NaN
        2018-11-09 19:16:07+00:00            NaN        NaN       NaN
...                                          ...        ...       ...
        2018-11-09 20:38:09+00:00            NaN        NaN       NaN
        2018-11-09 20:38:10+00:00            NaN        NaN       NaN
        2018-11-09 20:38:11+00:00            NaN        NaN       NaN
        2018-11-09 20:38:12+00:00            NaN        NaN       NaN
        2018-11-09 20:38:13+00:00            NaN        NaN  4930.071

[4931 rows x 14 columns]

                                           Time  IMU A1  IMU A2  IMU A3  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00  1.414743e+09  493.00   48.00  110.00
        2018-11-09 19:16:04+00:00  1.414744e+09  490.50  173.00    1.50
        2018-11-09 19:16:05+00:00  1.414745e+09  317.75  331.00 -224.75
        2018-11-09 19:16:06+00:00  1.414746e+09   42.00  382.50 -172.00
        2018-11-09 19:16:07+00:00  1.414747e+09  -46.00  426.00 -249.00
        2018-11-09 19:16:08+00:00  1.414748e+09  -67.00  430.25 -230.00
        2018-11-09 19:16:09+00:00  1.414748e+09  -72.25  463.50 -288.50
        2018-11-09 19:16:10+00:00  1.414750e+09  -94.25  452.00 -238.00
        2018-11-09 19:16:11+00:00  1.414751e+09  -88.50  489.25 -158.00
        2018-11-09 19:16:12+00:00  1.414752e+09 -100.50  484.75 -124.50

                                   IMU G1  IMU G2  IMU G3  IMU M1  IMU M2  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00   75.00  -124.0  -86.00 -309.00  209.00
        2018-11-09 19:16:04+00:00  -31.50  -106.0 -100.00 -326.00  181.00
        2018-11-09 19:16:05+00:00 -112.75  -552.0 -330.00 -261.25   28.25
        2018-11-09 19:16:06+00:00  -45.75  -299.5  202.50  -50.25  -49.25
        2018-11-09 19:16:07+00:00   13.25   -42.5   19.75    1.75  -82.75
        2018-11-09 19:16:08+00:00   -6.00    14.0  -33.75   23.25  -81.25
        2018-11-09 19:16:09+00:00   -6.00    12.0   -6.50   37.50  -71.50
        2018-11-09 19:16:10+00:00   -8.50    25.0  -29.50   48.25  -85.25
        2018-11-09 19:16:11+00:00   -4.00    65.5   -0.50   45.50  -83.00
        2018-11-09 19:16:12+00:00  -21.25    77.0  -19.75   36.25  -78.25

                                   IMU M3   Latitude   Longitude
ride_id UTC
15692   2018-11-09 19:16:03+00:00   39.00  3285871.0 -11725690.0
        2018-11-09 19:16:04+00:00   62.00        NaN         NaN
        2018-11-09 19:16:05+00:00  240.25        NaN         NaN
        2018-11-09 19:16:06+00:00  314.25        NaN         NaN
        2018-11-09 19:16:07+00:00  287.75        NaN         NaN
        2018-11-09 19:16:08+00:00  275.75        NaN         NaN
        2018-11-09 19:16:09+00:00  274.00  3285862.0 -11725712.0
        2018-11-09 19:16:10+00:00  254.25        NaN         NaN
        2018-11-09 19:16:11+00:00  264.50        NaN         NaN
        2018-11-09 19:16:12+00:00  268.75        NaN         NaN

In [16]:
motion_df_dropped

                                           Time  IMU A1  IMU A2  IMU A3  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00  1.414743e+09  493.00   48.00  110.00
        2018-11-09 19:16:04+00:00  1.414744e+09  490.50  173.00    1.50
        2018-11-09 19:16:05+00:00  1.414745e+09  317.75  331.00 -224.75
        2018-11-09 19:16:06+00:00  1.414746e+09   42.00  382.50 -172.00
        2018-11-09 19:16:07+00:00  1.414747e+09  -46.00  426.00 -249.00
...                                         ...     ...     ...     ...
        2018-11-09 20:38:11+00:00  1.419641e+09  499.25   -1.75  105.25
        2018-11-09 20:38:12+00:00  1.419642e+09  501.00   -8.50  101.25
        2018-11-09 20:38:13+00:00  1.419643e+09  501.50  -11.25   99.00
        2018-11-09 20:38:14+00:00  1.419644e+09  501.25  -11.50   99.00
        2018-11-09 20:38:15+00:00  1.419644e+09  501.00  -11.00   98.00

                                   IMU G1  IMU G2  IMU G3  IMU M1  IMU M2  \
ride_id UTC
15692   2018-11-09 19:16:03+00:00   75.00 -124.00  -86.00 -309.00  209.00
        2018-11-09 19:16:04+00:00  -31.50 -106.00 -100.00 -326.00  181.00
        2018-11-09 19:16:05+00:00 -112.75 -552.00 -330.00 -261.25   28.25
        2018-11-09 19:16:06+00:00  -45.75 -299.50  202.50  -50.25  -49.25
        2018-11-09 19:16:07+00:00   13.25  -42.50   19.75    1.75  -82.75
...                                   ...     ...     ...     ...     ...
        2018-11-09 20:38:11+00:00    4.00   20.00   -0.75 -289.00  229.50
        2018-11-09 20:38:12+00:00  -37.00   18.00   -5.25 -303.25  262.25
        2018-11-09 20:38:13+00:00   10.25   20.75    1.00 -300.50  262.50
        2018-11-09 20:38:14+00:00    9.50   20.75    1.50 -303.50  262.00
        2018-11-09 20:38:15+00:00   10.00   20.00    2.00 -309.00  265.00

                                   IMU M3
ride_id UTC
15692   2018-11-09 19:16:03+00:00   39.00
        2018-11-09 19:16:04+00:00   62.00
        2018-11-09 19:16:05+00:00  240.25
        2018-11-09 19:16:06+00:00  314.25
        2018-11-09 19:16:07+00:00  287.75
...                                   ...
        2018-11-09 20:38:11+00:00    3.50
        2018-11-09 20:38:12+00:00   24.75
        2018-11-09 20:38:13+00:00   33.50
        2018-11-09 20:38:14+00:00   37.00
        2018-11-09 20:38:15+00:00   35.00

[4933 rows x 10 columns]

In [23]:
# write a pandas dataframe to zipped CSV file
motion_df_dropped.to_csv("motion_dataframes/15692.csv")

In [38]:
# write a pandas dataframe to zipped CSV file
motion_df_dropped.to_csv("motion_dataframes/15692.csv.gzip", 
           index=False,
           compression="gzip")

In [35]:
motion_df_dropped.to_csv("motion_dataframes/15692.csv.zip", 
           index=False,
           compression="zip")

In [36]:
df = pd.read_csv('motion_dataframes/15692.csv.zip')

In [37]:
df

,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3
0,1.414743e+09,493.00,48.00,110.00,75.00,-124.00,-86.00,-309.00,209.00,39.00
1,1.414744e+09,490.50,173.00,1.50,-31.50,-106.00,-100.00,-326.00,181.00,62.00
2,1.414745e+09,317.75,331.00,-224.75,-112.75,-552.00,-330.00,-261.25,28.25,240.25
3,1.414746e+09,42.00,382.50,-172.00,-45.75,-299.50,202.50,-50.25,-49.25,314.25
4,1.414747e+09,-46.00,426.00,-249.00,13.25,-42.50,19.75,1.75,-82.75,287.75
...,...,...,...,...,...,...,...,...,...,...
4928,1.419641e+09,499.25,-1.75,105.25,4.00,20.00,-0.75,-289.00,229.50,3.50
4929,1.419642e+09,501.00,-8.50,101.25,-37.00,18.00,-5.25,-303.25,262.25,24.75
4930,1.419643e+09,501.50,-11.25,99.00,10.25,20.75,1.00,-300.50,262.50,33.50
4931,1.419644e+09,501.25,-11.50,99.00,9.50,20.75,1.50,-303.50,262.00,37.00
4932,1.419644e+09,501.00,-11.00,98.00,10.00,20.00,2.00,-309.00,265.00,35.00